<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="dataModel" connectionString="data source=(LocalDb)\v11.0;initial catalog=MailView.DataModel.dataModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="dataModelContainer" connectionString="metadata=res://*/DataModel.dataModel.csdl|res://*/DataModel.dataModel.ssdl|res://*/DataModel.dataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TOSHIBA-PC\SQLEXPRESS;initial catalog=MailView;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MailView.Properties.Settings.MailViewConnectionString"
      connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS;Initial Catalog=MailView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>